<!DOCTYPE html>
<html>
  <head>
    <title>Taphop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-content">
          <div class="navbar-logo">
            <a href="/"><span class="logo">TapHop</span></a>
          </div>
          <ul class="navbar-links">
            <li>
              <a href="#" class="navbar-link">What is TapHop?</a>
            </li>
            <li>
              <a href="#" class="navbar-link">Login</a>
            </li>
            <li>
              <a href="#" class="navbar-link">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
